body {
  padding-top: 54px; }

.h3 {
  text-align: center; }

.jumbotron {
  background: url("../img/bgheader.jpg") #9888A5;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0;
  color: #000000;
  padding: 150px 0; }

.footer-card {
  text-align: center; }

.slogan {
  color: #ffffff; }

.icono {
  margin-left: 5px;
  font-size: 20px; }

footer {
  padding: 10px;
  background: #9888A5;
  margin-top: 20px;
  margin-bottom: 0px; }

footer .direccion {
  color: #ffffff; }

.card-hotel {
  flex: 1 300px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 0; }

.btn-reserva, .btn-mostrar {
  width: 100%; }

footer a {
  text-decoration: none;
  color: #ffffff; }
